.Button-coffee {
    font-family: "roboto";
    color: black;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: 2px solid #808080;
    border-radius: 5px;
    background-color: "#B3B3B3";
    margin: 2px;
}